.fade {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@keyframes example {
  from {
    top: 0;
  }
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 500px;
  height: 500px;
  border-radius: 15px;
  padding: 0.3em 1.5em 1.5em 1.5em;
  animation-name: example;
  animation-duration: 0.4s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3em;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  margin-bottom: 0.8em;
}

.box_comment {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 50px;
  background-color: #b9b4c7;
  border-radius: 10px;
  margin-bottom: 0.5em;
  padding: 0.5em;
}

.box_comment .user {
  font-weight: bold;
}

.footer {
  padding: 0.3em;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.footer textarea {
  flex: 1;
  box-sizing: border-box;
  height: 100%;
  font-size: 15px;
  border: none;
  padding: 0.8em 0;
  resize: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

button:hover {
  font-weight: bold;
}

.container_error {
  color: #141414;
  background-color: #ffcc00;
  padding: 5px;
  border-radius: 5px;
}
