.fade {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@keyframes start {
  from {
    top: 0;
  }
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 500px;
  height: 500px;
  border-radius: 15px;
  padding: 0.3em 1.5em 1.5em 1.5em;
  animation-name: start;
  animation-duration: 0.4s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3em;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  margin-bottom: 0.8em;
}

.footer {
}
