.post_detail {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 2px solid #ccc;
  box-shadow: 10px;
  border-radius: 0.5em;
  box-shadow: 0px 0px 30px 1px grey;
  margin-bottom: 2em;
}

.post_detail img {
  max-width: 600px;
}

.post_detail h2 {
  margin-bottom: 0.2em;
}

.post_detail .tags {
  margin-bottom: 1.2em;
  display: flex;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px solid #fff;
  box-shadow: 10px;
  border-radius: 0.5em;
  box-shadow: 0px 0px 50px 1px rgb(0, 0, 0, 0.2);
  margin-bottom: 2em;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.tags p {
  margin-right: 0.5em;
}

.tags span {
  font-weight: bold;
}

.createdBy {
  font-style: italic;
}

.createdAt {
  font-size: 13px;
}

.content {
  font-size: 17px;
}
